numpy
Pillow
asgiref
django
djangorestframework
django-ninja
djangorestframework-simplejwt
django-extensions
drf-yasg
channels

libsass 
django-compressor 
django-sass-processor
pytz


pymongo
django-seed
gunicorn
psycopg2-binary
sqlparse
mysqlclient
mongoengine
argon2-cffi